header {
    padding: 50px;
    background-color: #7c5dee;
    box-shadow: 0px 3px 10px #464646;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair', serif;
}
ul{
        padding:10px
}
.nav-bar{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.logo{
    margin: 0 100px;
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button button {
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #4528e9;
    margin: 0 100px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}








@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Poppins:wght@300&display=swap');